/*LAYOUT.PHTML*/

/*body et container*/
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    font-size: 62.5%;
    font-family: 'Scope One', serif;
    min-height: 100%;
    position: relative;
    color: #28287a;
}

.container {
	max-width: 1100px;
	width: 80%;
	margin: 0 auto;
	font-size: 1.5rem;
}

/*header*/
header {
	padding: 10px;
	display: flex;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
}

nav a{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	color: #28287a;
}
nav a .fa{
	display: block;
	text-align: center;
}

/*titres et liens*/
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
    color: #28287a;
}

a {
    text-decoration: none;
    color: #28287a;
}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	  background-color: #0af6d8;
}

footer section {
    display: flex;
	justify-content: space-around;
	padding: 20px;
}


/*INDEX.PHTML*/

/*titres*/
h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5rem;
    color: #28287a;
    padding: 20px;
    text-align: center;
}

h3 {
    padding-top: 20px;
}

/*images*/
section div img
{
    width: 100px;
    height: auto;
    margin: auto;
}
/* ---- grid ---- */
.grid {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 100px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 200px;
  height: 160px;
  float: left;
  margin-bottom: 20px;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid-item--width2 {
    width: 400px;
    height: 170px;
}

.grid-item--height {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.grid-item--gigante {
  width: 320px;
  height: 310px;
  display: flex;
  flex-direction: column;
}

.grid-item:hover {
  background: #10E1EA;
  cursor: pointer;
  border: 3px double #333;
}

.grid-item:hover h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}