/**************************************/
/********** CSS page intro ************/
/**************************************/


* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    font-size: 62.5%;
    font-family: 'Scope One', serif;
    min-height: 100%;
    position: relative;
    color: #28287a;
    background: url(../img/art.jpg);
    background-size: cover;
}

#intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 80px;
  margin: 15%;
}


#intro div h1{
  font-size: 4rem;
  padding: 50px;
  font-family: 'Fredericka the Great', cursive;
  color: #FFAB68;
}

#intro a {
    font-size: 1.5rem;
    font-family: 'Fredericka the Great', cursive;
    color: #FF49A3;
}

#intro a:hover {
    color: #FFAB68;
}


/**********************************************/
/**************  Media Queries  ***************/
/**********************************************/

@media screen and (max-width: 1280px)
{
    #intro {
        margin: 5%;
    }
}

@media screen and (max-width: 960px)
{
    #intro div h1{
        font-size: 2.5rem;
        padding: 20px;
      }
    #intro a {
    font-size: 1.1rem;
    }
}