/**************************************/
/**************  CSS  *****************/
/**************************************/

/*body et container*/
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    font-size: 62.5%;
    font-family: 'Scope One', serif;
    min-height: 100%;
    position: relative;
    color: #28287a;
}

#slide, #slide1, header {
    background: url(../img/art.jpg) center 0 no-repeat fixed ;
    background-size: cover;
}
.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
}


header, main {
    background-color: rgba(255, 73, 163);
}

header div {
    background-color: #3C1236;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#menu-icon {
    display: none;
    width: 50px;
    heigth: auto;
}

/*nav*/

nav a{
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  color: #FF49A3;
  font-size: 1.1rem;
}


ul {
    list-style: none;
}

li {
    display: inline-block;
}

/*titres et liens*/
h1{
  padding: 50px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
  color: #FFAB68;
}


h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
   font-family: 'Fredericka the Great', cursive;
    font-size: 1.2rem;
    text-align: center;
} 

a {
  text-decoration: none;
  color: #FF49A3;
}

a:hover {
    color: #FFAB68;
}

/*SVG*/
.svgHaut {
  padding: 50px 0 20px;
}

/*footer*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3C1236;
}

footer section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: #FF49A3;
}

footer section a, .fa {
    font-size: 1.8rem;
}

/***********A PROPOS***********/
#home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 80px;
}

#home h1{
  font-size: 4rem;
}

#home article {
  width : 50%;
  padding: 30px 30px 15px;
  font-family: 'Fredericka the Great', cursive;
  background-color: rgba(60,18,54,0.8);
  font-size: 1.3rem;
  margin: auto;
}

#home li {
    list-style-type: none;
    color: #FF49A3;
}

#home article p {
    padding-bottom: 15px;
}

#home article p:nth-child(even){
    color: #FF49A3;
}

#home article p:nth-child(odd), span {
    color: #FFAB68;
}
.slide_inside {
    padding-bottom: 50px;
}


#home article p a {
    text-align: center;
    text-decoration: underline;
}

#home article p a:hover {
    color: #FFAB68;
}


/***********COMPETENCES***********/
.competences {
    padding-bottom: 80px;
}

/***********REALISATIONS***********/
#realisations {
    padding: 50px 0;
}

#realisations h2 {
    padding-bottom: 50px;
}

.realisations {
    background: url(../img/realisations/code_fond.jpg);
    background-size: cover;
    padding: 140px 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.realisations .animLego {
    width: 600px;
    height: 500px;
}

.realisations .animLego img {
    width: 500px;
    height: auto;
}

/***********ARTICLES***********/

#articles, #articlesSelect {
    font-family: 'Scope One', serif;
    text-align: center; 
}

#articlesSelect h2 {
    padding-top: 70px;
}

select {
    
    height:30px;
    width: 150px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff; 
}

#btn {
    margin-left: 10px;
    padding: 5px 15px 5px;
    font-size: 1.1rem;
    background-color: #3C1236;
    font-weight: bold;
    text-shadow: 1px 1px #F36C8C;
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #F36C8C;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    /*font-family: 'Fredericka the Great', cursive;*/
}

#btn:hover {
     background-color: #FFAB68;
     box-shadow: 2px 2px 2px #eac6ef;
     -moz-box-shadow: 2px 2px 2px #eac6ef;
     -webkit-box-shadow: 2px 2px 2px #eac6ef;
}

#articles article, #articlesSelect article {
    padding: 20px;
}

#articles div, #articlesSelect div {
    display: flex;
    justify-content: space-around;
}

#articles div article {
   margin: 30px 20px 100px; 
}

#articlesSelect div article {
margin: 30px 20px 130px;
}

#articles div article, #articlesSelect div article {
    border: 1px solid black;
    padding: 20px;
    width: 500px;
    box-shadow: 2px 2px 2px #DCDCDC;
    -moz-box-shadow: 2px 2px 2px #DCDCDC;
    -webkit-box-shadow: 2px 2px 2px #DCDCDC;
    background-color: #eac6ef;
}

#articles div article img, #articlesSelect div article img {
    width: 400px;
    heigth: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

#articles div article a:hover, #articlesSelect div article a:hover {
    font-weight: bold;
    color: #4B2242;
}

.categorie {
    text-align: right;
    font-size: 0.7rem;
    font-style: italic;
    padding-top: 10px;
}

.retour {
    font-size: 2rem;
    padding-top: 280px;
    -webkit-transform:rotate(-40deg);
    -moz-transform:rotate(-40deg);
    -o-transform:rotate(-40deg);
    -ms-transform:rotate(-40deg);  
    transform:  rotate(-40deg); 
    font-family: 'Fredericka the Great', cursive;
}

/***********CONTACT***********/
#contacter {
    text-align: center;
    padding: 30px 0 30px;
    color: #FFAB68;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.2rem;
}

#contacter strong {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.9rem;
    color: #3c1236;
}

#contact {
    display: flex;
    padding: 120px 0 120px;
}

#contact h1 {
    padding: 200px 40px;
    font-size: 4rem;
    -webkit-transform:rotate(-40deg);
    -moz-transform:rotate(-40deg);
    -o-transform:rotate(-40deg);
    -ms-transform:rotate(-40deg);  
    transform:  rotate(-40deg);       
}

#contact article {
    width: 600px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
    /*padding: 50px;*/
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

.textarea{
	  background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px; 
    width: 440px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

.contact {
    width: 440px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

.name {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px; 
    padding-left:45px;
}

.mail {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 20px;
    padding-left:45px;
}

.send {
    cursor:pointer;
    background-color: #563661;
    color: #D48A3D;
}
.send:hover {
    background-color: #A4C5B5;
    color: #2E142F;
}

#contact .form div ul li {
    color: #FFF;
    font-size: 0.75rem;
}

.contacter p {
    padding: 10px;
}

.message {
    padding-top: 30px;
}

/**********************************************/
/**************  Media Queries  ***************/
/**********************************************/

@media screen and (max-width: 1280px)
{
    /*Présentation*/
    #home article {
        width : 80%;
    }
    
    /*compétences*/
    #competences img {
        width: 80%;
        margin-left: 65px;
    }
    
    /*réalisations*/
    .realisations {
        padding-right: 90px;
    }
    
    .realisations .animLego {
        width: 350px;
    }
    
    .realisations .animLego img {
        width: 400px;
    }
    
    /*articles*/   
    #articles div, #articlesSelect div {
        flex-direction: column;
        align-items: center;
    }
    #articles div article {
        margin: 50px 10px 40px;
    }
    
    #articlesSelect div article {
        margin: 0px 20px 100px;
    }
    
    #articlesSelect h2 {
        padding-bottom: 70px;
    }
    
    #articles div article, #articlesSelect div article {
        padding: 10px;
        width: 90%;
    }
    
    #articles div article img, #articlesSelect div article img {
        width: 300px;
        heigth: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .retour {
        padding-top: 0px;
        position: absolute;
        top: 250px;
        left: 0px;
        font-size: 1.5rem;
    }
    
    /*contact*/
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 80px;
    }

    #contact h1 {
        padding: 20px;
        font-size: 3.5rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);  
        transform:  rotate(0deg);       
    }
}

@media screen and (max-width: 960px){
    .container {
        width: 100%;
    }
    /*nav*/
    #menu-icon {
        display: inline-block;
    }
    
    nav ul, nav:active ul { 
        display: none;
	position: absolute;
	padding: 20px;
	background: #3C1236;
	border: 5px solid #BA63C6;
	right: 20px;
	top: 75px;
	width: 50%;
	border-radius: 4px 0 4px 4px;
    }

    nav li {
        text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;
    }

    nav:hover ul {
	display: block;
    }
    
    nav a {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    /*SVG*/
    .svgHaut {
        padding: 130px 0 50px;
    }
    
    /*Home*/
    #home h1{
        font-size: 3rem;
    }
    
    #home h1:nth-child(odd) {
        padding: 70px;
    }
    #home h1:nth-child(even) {
        padding: 50px;
    }
    
    #home article {
        padding: 20px 20px 10px;
        font-size: 1rem;
        width: 90%;
    }
    
    /*Compétences*/
    #competences img {
        padding-top: 40px;
        margin-left: 0;
        width: 100%;
    }
    
    /*Réalisations*/
    .realisations {
        padding: 80px 50px 40px;
    }
    
    /*Articles*/
    #articles div article, #articlesSelect div article {
        margin: 30px 10px 20px;
    }
    
    #articlesSelect h2 {
        padding-top: 100px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.8rem;
    }
    
    .retour {
        padding-top: 20px;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);  
        transform:  rotate(0deg); 
    }
    
    /*Contact*/
    #contact article {
        width: 500px;
    }
    
    #contact article form div {
        padding-right: 20px;
    }
    
    .form {
        border: 0 solid rgba(0,0,0,0);
        border-radius: 0;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}